<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h1>Listing Developers</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
        <tr>
      <thead>
      <tbody>
        <% @developers.each do |developer| %>
        <tr>
          <td><%= developer.name %></td>
          <td><%= developer.dev_type %></td>
          <td><%= link_to 'Show', developer %></td>
          <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
          <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    <table>

    <br>

    <%= link_to 'New Developer', new_developer_path %>

  </div>
</div>
