<%= form_for(@hour) do |f| %>
  <% if @hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% @hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="col-md-6-up col-md-offset-3-up">
      <div class="field">
        <div class="row">
         <%= f.label :client %>
          <%= f.number_field :client_id, class: "form-control"%>
        </div>
        <div class="row">
         <%= f.label :developer %>
         <%= f.number_field :developer_id, class: "form-control" %>
        </div>
        <div class="row">
          <%= f.label :sprint %>
          <%= f.number_field :sprint_id, class: "form-control" %>
        </div>
        <div class="row">
          <%= f.label :number_of_hours %>
          <%= f.number_field :number_of_hours, class: "form-control" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit :class => 'btn btn-success'%>
      </div>
    </div>
  </div>
</div>
<% end %>
