<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <h1>Hours</h1>

    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>Client</th>
          <th>Developer</th>
          <th>Sprint</th>
          <th># Hours</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>


      <tbody>
        <% @hours.each do |hour| %>
          <tr>
            <td><%= hour.client %></td>
            <td><%= hour.developer %></td>
            <td><%= hour.sprint %></td>
            <td><%= hour.number_of_hours %></td>
            <td><%= link_to 'Show', hour %></td>
            <td><%= link_to 'Edit', edit_hour_path(hour) %></td>
            <td><%= link_to 'Destroy', hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New hour', new_hour_path, { :style=>"color: #FFF", :class=>"btn btn-primary"}  %>

  </div>
</div>
